<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Job Portal</title>
</head>
<body>
    <h1>Welcome to the Job Portal</h1>
    <center><a href="{{ url_for('register', role='seeker') }}">
        <button>Register as Job Seeker</button>
    </a>
    <a href="{{ url_for('register', role='provider') }}">
        <button>Register as Job Provider</button>
    </a>
    <br><br>
    <a href="{{ url_for('login' ,role='seeker') }}">Login as Seeker</a>

    <a href="{{url_for('login',role='provider')}}" >Login as  Provider</a></center>
</body>
</html>
